*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body{
  background-color: var(--bg-color);
}

:root{
  --bg-color:           #EAEAEA;
  --bg-color-secondary: #B2B2B2;
  --text-color:         #3C4048;
  --main-color:         #00ABB3;
  --main-hover:         #309499;

  --title:              24px;
  --text:                  18px;


  --color-danger:       #dc3545;
  --color-success:      #28a745;
}

#root{
  margin: 0 24px;
  height: 100vh;
  display: grid;
  justify-content: center;
}

#root .container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;
}


